<template>
    <app-layout>

        <div class="p-12 sm:px-20 bg-white border-b border-gray-200">


            <h1>SERVICIOS</h1>
            <div class="flex flex-col grid grid-cols-2">
                <div class="-my-2  sm:-mx-4 lg:-mx-4 col-span-1">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Nombre/email
                                </th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Tipo
                                </th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                    Valor
                                </th>
                            
                                <th class="px-6 py-3 bg-gray-50"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="(item, index) in servicios" :key="index" >
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    {{item.nombre}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    {{item.tipo.nombre}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    {{item.valor}}
                                </td>
                                <td class="px-6 py-4 border whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                    <button @click="editItem(item)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                            <!-- More rows... -->
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>



            <h1>AGENDA</h1>

            <label v-for="(item,id) in agendas" :key="id">
                {{ item.name }}
            </label>

        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'

export default {
    data() {
            return {
                agendas:[
                    {id:1,name:"agenda 1"},
                    {id:2,name:"agenda 2"}
                ],
                servicios:[]
            }
        },
        mounted:function(){
            this.getAgenda();
            this.getServicios();
        },
        methods:{
            getAgenda(){

            },
            getServicios(tipo=1){
                axios.get('/api/servicio/'+tipo)
                    .then(res => (this.servicios = res.data))
            },
        },
        components: {
            AppLayout,
        },

}
</script>