<template>
    <app-layout>
        
        <div class="p-12 sm:px-20 bg-white border-b border-gray-200">
            <button @click="editItem([])" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Nuevo Perfil
            </button>
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Nombre
                            </th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Descripcion
                            </th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Activo
                            </th>

                            <th class="px-6 py-3 bg-gray-50"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="(item, index) in perfils" :key="index">
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div   class="text-sm leading-5 font-medium text-gray-900">
                                            {{item.nombre}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div   class="text-sm leading-5 font-medium text-gray-900">
                                            {{item.descripcion}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <span @click="actDesac(item, index)" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800" v-if="item.activado==true">
                                                    Activado
                                                    </span>
                                                    <span @click="actDesac(item, index)" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800" v-else>
                                                    Desactivado
                                                    </span>
                                </td>

                                <td class="px-6 py-4 border whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                    <button @click="editItem(item)"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Editar
                                    </button>
                                </td>
                            </tr>

                            <!-- More rows... -->
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <div v-if="showModal" class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
               
                <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
               
                <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: exclamation -->
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            
                            <form id="form-perfil" class="w-full max-w-sm" enctype="">
                                <input v-model="perfil.id" type="hidden" >

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                            Activado
                                        </label>
                                        </div>
                                        <div class="md:w-2/3">
                                        <input v-model="perfil.activado" type="radio" class="" 
                                        id="inline-tipo"  value="1">
                                    </div>
                                    <div class="md:w-1/3">
                                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                            Desactivado
                                        </label>
                                        </div>
                                        <div class="md:w-2/3">
                                        <input v-model="perfil.activado" type="radio" class="" 
                                        id="inline-tipo"  value="0">
                                    </div>
                                </div>

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                        Nombre
                                    </label>
                                    </div>
                                    <div class="md:w-2/3">
                                    <input v-model="perfil.nombre" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
                                    id="inline-nombre" type="text" value="Jane Doe">
                                    </div>
                                </div>

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                        Descripcion
                                    </label>
                                    </div>
                                    <div class="md:w-2/3">
                                    <input v-model="perfil.descripcion" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
                                    id="inline-nombre" type="text" value="Jane Doe">
                                    </div>
                                </div>

                            
                            </form>

                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button @click="saveForm" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        Guardar
                    </button>
                    </span>
                    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="togleModal()">
                        Cancel
                    </button>
                    </span>
                </div>
                </div>

            </div>
        </div>



   </app-layout>




</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    import Welcome from './../Jetstream/Welcome'

    export default {
        data() {
            return {
                perfils:[],
                showModal:false,
                perfil:[]
            }
        },
        mounted:function(){
            axios.get('/perfils')
                    .then(res => (this.perfils = res.data))            
        },
        methods:{
            saveForm(){
                var app = this;
                axios.post('/perfils/store',this.perfil)
                .then(function (res){
                    app.togleModal();
                    app.perfils = res.data;
                });
            },
            actDesac(perfil, index){
                if(perfil.activado==true){
                    //const confirmacion = confirm(`desactivar Perfil ${perfil.nombre}`);

                            axios.post(`/perfils/desactivar/${perfil.id}`)
                            .then(res=>{
                                //this.notas.splice(index, 1);
                                this.perfils = res.data;
                            })
                }else{
                    //const confirmacion = confirm(`Activar perfil ${perfil.nombre}`);

                            axios.post(`/perfils/activar/${perfil.id}`)
                            .then(res=>{
                                //this.notas.splice(index, 1);
                                this.perfils = res.data;
                            })

                }
            
                
                },
                togleModal(){
                    this.showModal=this.showModal?false:true;
                    if(!this.showModal){
                        axios.get('/perfils').then(res => (this.perfils = res.data))
                    }
                    
                },
                editItem(item){
                    if(item.id ){
                        this.perfil = item;
                    }else{
                        this.perfil = {id:'',nombre:'',descripcion:'',activado:''};
                    }  
                    this.togleModal();
                },
        },
        components: {
            AppLayout,
            Welcome,
        },
    }
</script>