<template>
    <app-layout>
        <div class="p-12 sm:px-20 bg-white border-b border-gray-200">
            <button @click="editItem([])" style="margin-bottom:7px" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Nuevo Sucursal
            </button>
            <label>sucursal</label>
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                        <thead>
                            <tr>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Nombre/email
                            </th>
                            
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Rubro Nombre
                            </th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Direccion
                            </th>
                           
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                                Activo
                            </th>
                          
                            <th class="px-6 py-3 bg-gray-50"></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="(item, index) in sucursal" :key="index">
                                

                                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    {{item.nombre}}
                                </td>
                                 <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    {{item.rubro.nombre}}
                                </td>
                                <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-500">
                                    {{item.direccion}}
                                </td>
                                
                                <td class="px-6 py-4 whitespace-no-wrap">
                                    <span @click="setActive(item)" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-red-800" v-if="item.activo">
                                    Activar
                                    </span>
                                    <span @click="setActive(item)" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800" v-else>
                                    Desactivado
                                    </span>
                                </td>
                             
                                <td class="px-6 py-4 border whitespace-no-wrap text-right text-sm leading-5 font-medium">
                                    <button @click="editItem(item)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                        Editar
                                    </button>
                                </td>
                            </tr>

                            <!-- More rows... -->
                        </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>

        </div>

        <div v-if="showModal" class="fixed z-10 inset-0 overflow-y-auto">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
               
                <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                </div>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
               
                <div  class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                            <!-- Heroicon name: exclamation -->
                            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            
                            <form id="form-servicio" class="w-full max-w-sm" enctype="">
                                <input v-model="form.id" type="hidden" >

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                    <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
                                        Nombre
                                    </label>
                                    </div>
                                    <div class="md:w-2/3">
                                    <input v-model="form.nombre" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
                                    id="inline-nombre" type="text" value="Jane Doe">
                                    </div>
                                </div>

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                                            Direccion
                                        </label>
                                    </div>
                                    <div class="md:w-2/3">
                                    <input v-model="form.direccion" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" 
                                    id="inline-descripcion" 
                                    type="text" >   
                                    </div>
                                </div>
                                

                                <div class="md:flex md:items-center mb-6">
                                    <div class="md:w-1/3">
                                        <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
                                            Rubro
                                        </label>
                                    </div>
                                    <select  v-model="form.local_id" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline" >
                                        <option v-for="(rubro,index) in rubros" :key="index" value="1" >{{rubro.nombre}}</option>
                                    </select>
                                  
                                </div>
                                
                               
                        
                             
                            
                            </form>

                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button @click="saveForm" type="button" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-red-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        Guardar
                    </button>
                    </span>
                    <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
                    <button type="button" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5" @click="togleModal()">
                        Cancel
                    </button>
                    </span>
                </div>
                </div>

            </div>
        </div>

        <div class="grid grid-cols-5 gap-4" style="padding:40px" >
            <div v-for="(item,index) in sucursal" :key="index" v-if="item.activo"
                class="max-w-sm rounded overflow-hidden shadow-lg">
                <img class="w-full"  :src="item.imagen" alt="">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{item.nombre}}</div>
                    <p class="text-gray-700 text-base">
                    {{item.descripcion}}
                    </p>
                    <p class="text-gray-700 text-base">
                    Valor: ${{item.valor}}
                    </p>
                </div>
                <div class="px-6 pt-4 pb-2">
                    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{item.tipo.nombre}}</span>
                </div>
            </div>
        </div>

   </app-layout>

</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    import Welcome from './../Jetstream/Welcome'

    export default {
        data() {
            return {
                sucursal:[],
                rubros:[],
                show:true,
                showModal:false,
                form:[imagen=>[]]
            }
        },
        mounted:function(){
            this.getSucursal();
        },
        methods:{
            saveForm(){
                var app  = this;
                var form = $('#form-sucursal');

                axios.post('/sucursal/save',this.form)
                .then(function (res){
                    app.togleModal() ;
                    app.sucursal = res.data;
                });
            },
            setActive(item){
                var app  = this;
                axios.post('sucursal/active',item).then(function (res){
                    item = res.data;
                });
                item.activo = item.activo?false:true;
            },
            getSucursal(){
                axios.get('sucursales/all')
                    .then(res => (this.sucursal = res.data))
               
            },
            togleModal(){
                this.showModal=this.showModal?false:true;
            },
            editItem(item){
                var app = this;
                axios.get('sucursales/rubros')
                    .then(function(res){
                        app.rubros = res.data
                        app.togleModal();
                    })

                if(item.id ){
                    this.form = item;
                }else{
                    this.form = {
                            "id": '',
                            "tipo_producto_servicio_id": '',
                            "nombre": "",
                            "descripcion": "",
                            "valor": '',
                            "duracion": '',
                            "imagen": ''
                            
                        };
                }  
            },
            previewImage: function(event) {
                // Reference to the DOM input element
                var input = event.target;
                // Ensure that you have a file before attempting to read it
                if (input.files && input.files[0]) {
                    // create a new FileReader to read this image and convert to base64 format
                    var reader = new FileReader();
                    // Define a callback function to run, when FileReader finishes its job
                    reader.onload = (e) => {
                        this.form.imagen = e.target.result;
                    }
                    // Start the reader job - read file as a data url (base64 format)
                    reader.readAsDataURL(input.files[0]);
                }
            }
        },
        components: {
            AppLayout,
            Welcome,
        },
    }
</script>
