<template>
    <input class="form-input rounded-md shadow-sm" :value="value"  ref="input">
</template>

<script>
    export default {
        props: ['value'],

        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    }
</script>

