<template>
    <div 
        class="grid md:grid-cols-6 md:grid-rows-6    w-full h-full min-h-full ">

        <div class="row-start-2 col-start-3 col-span-2 row-span-2 
            px-0 py-0
            grid grid-cols-2 grid-rows-1 bg-white shadow-lg rounded">

            <div class="col-span-2 bg-blue-400 py-3 px-3 text-2xl text-white " >
                NEIGHBOUR
            </div>
            <div class="col-start-1 col-span-1 px-5 py-5">
                <img src="/logo8.jpg"> 
            </div>
            <div class=" col-start-2 p-5  col-span-2  text-black-500">
                <div class="">
                    <form class="">
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                                Persona
                            </label>
                            <input v-model="login.email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                        </div>
                        <div class="mb-6">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                                Seguridad
                            </label>
                            <input v-model="login.password" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
                            <p class="text-red-500 text-xs italic">Clave</p>
                        </div>
                        <div class="flex items-center justify-between">
                            <button @click="conectar" class="px-2 py-2 bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
                                Conectar
                            </button>
                            <a class="pl-2 inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                                Recuperar Contraseña?
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style >

    body{
     background: rgb(231,231,231);
background: linear-gradient(0deg, rgba(231,231,231,1) 18%, rgba(241,241,241,1) 81%);
        /*
            background-color: #225ed9;
        background-image: url('/body1.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-image: url('/logo7.jpg') */
    }
</style>

<script>
export default {
    data() {
            return {
                show:true,
                showModal:false,
                login:{
                    email:null,
                    password:null,
                }
            }
        },
        mounted:function(){
           // this.getlocales();
        },
        methods:{
            conectar(){
                var app = this;
                axios.post('/login',this.login)
                .then(function (res){
                    location.reload('/dashboard');
                    console.log(res)
                });
            },
        }
}
</script>